/* style.css */
/* Configuración básica */
:root {
  --grid-cell-size: 2rem;
  --grid-gap: 1px;
  --cell-border-color: #000;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Encabezado y pie de página */
.header,
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 2rem;
}

/* Contenedor del crucigrama (Grid) */
.crossword-game__container {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--grid-cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--grid-cell-size));
  border: var(--grid-gap) solid var(--cell-border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* Celdas individuales */
.crossword-game__cell {
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
  box-sizing: border-box;
  border: var(--grid-gap) solid var(--cell-border-color);
  position: relative;
}

/* Input de la celda */
.crossword-game__input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
}

/* Modificadores de celdas */
.crossword-game__cell--empty {
  background-color: #333;
  border: var(--grid-gap) solid #333;
}

.crossword-game__cell--prefilled .crossword-game__input {
  background-color: #e0e0e0;
  font-weight: bold;
}

.crossword-game__cell--visual-space {
  border-right: none;
  position: relative;
  z-index: 1;
}

.crossword-game__cell--visual-space::after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: 0;
  width: 1px;
  background-color: transparent;
  z-index: 2;
}

/* Añadir el estilo para el número del crucigrama */
.crossword-game__number {
  position: absolute;
  top: 2px; /* Ajusta la posición vertical */
  left: 2px; /* Ajusta la posición horizontal */
  font-size: 0.6rem;
  font-weight: bold;
  color: #555;
  z-index: 10;
}

/* Contenedor de pistas */
.crossword-clues {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.crossword-clues__list {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.crossword-clues__list h3 {
  margin-top: 0;
}

.crossword-clues__list p {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  line-height: 1.4;
}
